{% load static %}
{% block content %}
{% include 'header.html' %}


<div class="col-md-12">
    <h1 class="contact_taital">Get In Touch</h1>
    <form action="">
       <div class="mail_section_1">
          <input type="text" class="mail_text" placeholder="Name" name="Name">
          <input type="text" class="mail_text" placeholder="Phone Number" name="Phone Number"> 
          
          
          <div class="send_bt"><a href="#">LOGIN</a></div>
       </div>
    </form>
 </div>







{% include 'footer.html' %}
{% endblock %}